[access "refs/heads/*"]
        label-Code-Review = -2..+2 group testtools-core
        label-Approved = +0..+1 group testtools-core
        workInProgress = group testtools-core
[access "refs/tags/*"]
        create = group testtools-core
        pushTag = group testtools-core
[receive]
        requireChangeId = true
        requireContributorAgreement = false
[submit]
        mergeContent = true
